h1, h3{
    color:#2CA920;
}

table { margin: auto; }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #8c8c8c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2CA920;
}

input[type=email] {
    width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

.errorField{
    border: 1px solid red !important;
  }

  fieldset {
    border: 1px solid #ffffff;
  }
  
  label, option, select {
    color: #8c8c8c;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .rightForm { width: 50%; }
  
  .leftForm {
       margin-right: 2%; 
  }

  @media (max-width: 480px) {
    .half {
       width: 100%; 
       float: none;
       margin-bottom: 0; 
    }
  }
  
  /* Clearfix */
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }

  .birth{
    clear: left;
  }
  
  .innerBirth{
    margin-right: 20%; 
    margin-left: 20%; 
  }

  .container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
  }