body{
  background-color: #fff
  }

h1, h3, #mySidebar{
    color:#4D9A56;
}

h4{
  color:#ffffff;
}

#mySidebar{
  background-color:#4D9A56;
  color: #fff;
}

#mySidebar a{
  text-decoration: none;
}

.cardHover:hover header h4{
color:#85D08D;
}

.cardHover:hover header{
background-color: #fff !important;
}

.w3-mygreen{
  background-color: #4D9A56;
  color: #fff;
}

.cardHover:hover .w3-container{
  color:#fff;
  background-color: #85D08D;
  }

.myMenu:hover{
  background-color: #fff;
  color: #4D9A56;
}

#parent_div:hover #child_div_1 {
  color: blue;
}
#parent_div:hover #child_div_2 {
  color: red;
}

table { margin: auto; }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #8c8c8c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4D9A56;
}

input[type=email] {
    width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

 .mainInfo{
  background-color: #ccc;
  border: 1px solid #4D9A56;
  margin-bottom: 2%;
  padding: 1%;
 }

.errorField{
    border: 1px solid red !important;
  }

  fieldset {
    border: 1px solid #ffffff;
  }
  
  label, option, select {
    color: #8c8c8c;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .rightForm { width: 50%; }
  
  .leftForm {
       margin-right: 2%; 
  }

  @media (max-width: 480px) {
    .half {
       width: 100%; 
       float: none;
       margin-bottom: 0; 
    }
  }
  
  /* Clearfix */
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }

  .birth{
    clear: left;
  }
  
  .innerBirth{
    margin-right: 20%; 
    margin-left: 20%; 
  }

  .container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
  }

  .container01 {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: center; /* switched from default (flex-start, see below) */
  }

  .month{
    margin: 0 5% 0;
  }

  /* background picture + blur */
 .main {
    background-size: cover;
    width:100%;
    height:100%;
    position:relative;
    z-index: -2;
  }

  
.blur {
   background-size: cover;
  overflow: hidden;
  filter: blur(10px);
  position: absolute;
  /*height: 300px;*/
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 13%;
  z-index: -1;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
}

.pic01{
  background: url('/images/winter.jpg') no-repeat center center fixed; 
}

.pic02{
  background: url('/images/skiing.jpg') no-repeat center center fixed; 
}

.headerline{
  text-decoration: underline;
  text-decoration-color: #4D9A56;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.blurPadding{
  padding-top: 4%;
  padding-bottom: 4%;
}

  .center1 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* carousel
  div#carousel { 
  perspective: 1200px; 
  background: #fff; 
  padding-top: 3%; 
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: #8c8c8c; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }

*/

/* carousel1*/

.carousel {
  background: black;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}
