.rTableBox{
  padding: 2%;
}

.rTable { display: block; }
.rTableRow { display: table-row;}
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell { 
  display: table-cell; padding: 0px 5px;
}

.rFirstCell{ 
  
}

.rTableHead{
  padding: 0px 5px;
  display: table-cell;
  color: green;
}

.buttonRow{
 margin-top: 5%
}

#overlay {
  position: fixed;
  display: none;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}