<template name="carousel">
        <div class="owl-carousel">
                <div>
                        <img src="/images/carousel/new/pic1.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic2.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic3.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic4.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic5.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic6.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic7.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic8.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic9.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic10.jpg">
                </div>
                <div>
                        <img src="/images/carousel/new/pic11.jpg">
                </div>
        </div>
</template>