<template name="carousel">
        <div class="owl-carousel">
                <div><img src="http://pipsum.com/435x310.jpg?v=1"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=2"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=3"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=4"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=5"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=6"></div>
                <div><img src="http://pipsum.com/435x310.jpg?v=7"></div>
              </div>
</template>