<template name="fakten">

  <!-- First Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="run">
    <div class="w3-quarter">
      <h1>&#x2656;</h1>
      <!--<img src="/w3images/sandwich.jpg" alt="Veranstaltungsort" style="width:100%"> -->
      <h3>Veranstaltungsort</h3>
      <p>09544 Cämmerswalde, unterhalb des "Ringel" bei Weißbach</p>
    </div>
    <div class="w3-quarter">
        <h1>&#x2714;</h1>
      <h3>Anmeldung</h3>
      <p>b.mueller.sport@freenet.de oder hier auf der Seite</p>
    </div>
    <div class="w3-quarter">
      <h1>&#x26D1;</h1>
      <!--img src="/w3images/cherries.jpg" alt="Veranstalter" style="width:100%">-->
      <h3>Veranstalter</h3>
      <p>V „Eintracht“ Cämmerswalde, Abteilung Ski, Barbara Müller, b.mueller.sport@freenet.de</p>
    </div>
    <div class="w3-quarter">
      <h1>&#128176;</h1>
      <!--<img src="/w3images/wine.jpg" alt="Startgebühr" style="width:100%">-->
      <h3>Startgebühr</h3>
      <p>Erwachsene und Junioren pro Teilnehmer 4,00 Euro Jugend (AK 16- 18) 3,00 Euro AK 15 und jünger 2,00 Euro</p>
    </div>
  </div>

  <!-- Second Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <h1>&#128338;</h1>
      <!--<img src="/w3images/popsicle.jpg" alt="Start" style="width:100%">-->
      <h3>Start</h3>
      <p>13:30 Uhr, Massenstart, getrennt nach Altersklassen und Geschlecht</p>
    </div>
    <div class="w3-quarter">
      <!--<img src="/w3images/salmon.jpg" alt="Verpflegung" style="width:100%">-->
      <h1>&#9982;</h1>
      <h3>Verpflegung</h3>
      <p>Ist am „Kiosk“ auf Kosten der Teilnehmer möglich</p>
    </div>
    <div class="w3-quarter">
      <h1>&#128081;</h1>
      <!--<img src="/w3images/sandwich.jpg" alt="Auszeichnung" style="width:100%">-->
      <h3>Auszeichnung</h3>
      <p>1 - 3. Platz je AK erhalten eine Urkunde</p>
    </div>
    <div class="w3-quarter">
        <h1>&#x26A7;</h1>
      <h3>Altersklassen</h3>
      <p>Vorschulalter bis Männer und Damen über jeweils 0,5 km bis 15 km</p>
    </div>
  </div>

  <!-- Third Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
        <h1>&#9975;</h1>
      <h3>Laufstil</h3>
      <p>klassisch</p>
    </div>
    <div class="w3-quarter">
        <h1>&#x2656;</h1>
      <h3>Wanderpokal</h3>
      <p>Damen 5km /Herren 15 km</p>
    </div>
    <div class="w3-quarter">
        <h1>&#x260E;</h1>
      <h3>Anschrift Org.- Büro</h3>
      <p>Barbara Müller, Muldentalstr. 59, OT Holzhau, 09623 Rechenberg-Bienenmühle 037327/ 9747 bzw. 017678928100 b.mueller.sport@freenet.de</p>
    </div>
  </div>
</template>