<template name="fakten">
        
    <!-- First Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="run">
        <div class="w3-quarter">
          <h1>&#x2656;</h1>
          <!--<img src="/w3images/sandwich.jpg" alt="Veranstaltungsort" style="width:100%"> -->
          <h3>Veranstaltungsort</h3>
          <p>09544 Cämmerswalde, unterhalb des "Ringel" bei Weißbach</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/sandwich.jpg" alt="Anmeldung" style="width:100%">
            <h3>Anmeldung</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        <div class="w3-quarter">
          <img src="/w3images/cherries.jpg" alt="Veranstalter" style="width:100%">
          <h3>Veranstalter</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          <p>What else?</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/wine.jpg" alt="Startgebühr" style="width:100%">
          <h3>Startgebühr</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
  
      <!-- Second Grid-->
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
          <img src="/w3images/popsicle.jpg" alt="Start" style="width:100%">
          <h3>Start</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/salmon.jpg" alt="Verpflegung" style="width:100%">
          <h3>Verpflegung</h3>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/sandwich.jpg" alt="Auszeichnung" style="width:100%">
          <h3>Auszeichnung</h3>
          <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/croissant.jpg" alt="Altersklassen" style="width:100%">
          <h3>Altersklassen</h3>
          <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>
  
      <!-- Third Grid-->
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
          <img src="/w3images/popsicle.jpg" alt="Laufstil" style="width:100%">
          <h3>Laufstil</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/salmon.jpg" alt="Wanderpokal" style="width:100%">
          <h3>Wanderpokal</h3>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/steak.jpg" alt="Anschrift Org.- Büro" style="width:100%">
            <h3>Anschrift Org.- Büro</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
      </div>
</template>