<template name="historie">
  <h3>Historie</h3>
  <table>
    <tbody>
      <tr>
        <th>
          <strong>Jahr</strong>
        </th>
        <th>
          <strong>Ergebnisse</strong>
        </th>
      </tr>
      <tr>
        <td>2017</td>
        <td>
          <a href="https://www.flossgraben.run/app/download/8963186/28_01_2017+37.+Flossgrabenlauf+Ergebnisliste_FGL17.pdf" target="_blank">37. Flossgrabenlauf (PDF-Dokument [418.6 KB])</a>
        </td>
      </tr>
    </tbody>
  </table>
</template>