<template name="links">
  <h3>Links</h3>
  <table>
    <tbody>
      <tr>
        <th>
          <strong>Quelle</strong>
        </th>
        <th>
          <strong>Kuckst Du</strong>
        </th>
      </tr>
      <tr>
        <td>www.erzgebirgsdorf.de</td>
        <td>
          <a href="https://www.erzgebirgsdorf.de/flossgraben.htm" target="_blank">historisches Hintergrundwissen zum Floßgraben</a>
        </td>
      </tr>
      <tr>
        <td>Video von Kanal9</td>
        <td>
          <p>
            <a href="http://www.kanal9.de/index.php/beitraege-online/video/798-flossgrabenlauf-in-caemmerswalde-2017" target="_blank">Floßgrabenlauf in Cämmerswalde 2017 im Fernsehen</a>
          </p>
        </td>
      </tr>
      <tr>
        <td>www.paranomia.de</td>
        <td>
          <a href="http://www.paranomia.de/video-2/zieleinlauf-tandem-skilanglauf-29012011.webm" target="_blank">Zieleinlauf&nbsp; Flossgrabenlauf 2017</a>
        </td>
      </tr>
    </tbody>
  </table>
</template>